body {
    margin:0;
    background-color: #e4e8f0;
    color:rgba(231, 61, 90, 0.918);
    text-align: center;
}

h1 {
    font-size: 60px;
}

#valor {
    font-size: 90px;
    font-weight: bold;
}

.btn {
    font-size: 25px;
    border: none;
    background-color: #33bd93;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: black;
}




