* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    background-image:url(Img/juanes-fondo-musica.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 70% 15%;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(176, 46, 241, 0.388);
}

#header {
    height: 100%;
    width: 100%;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 20px 5px 20px ;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0
}
ul > li {
    color: aliceblue;
    list-style: none;
}
li:hover{
    font-size: 20px;
    color: blueviolet;
}

.nav-a {
    text-decoration: none;
    color: white;
}

.content {
    position: relative;
    justify-content: center;
    text-align: center;

    background-color:rgb(223, 186, 223);
    border-radius: 5px;
    margin: 5px 25px 5px 25px;
}

.contacto-form {
    
    background-color:rgb(223, 179, 223) (143, 91, 91);
}

.musica-content {

}
.cancion {
    width: 250px;
    height: 150px;
    display: inline
    background-color: rgb(17, 16, 16);
    padding: 10px;
    margin: 5px;
}

