* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #e45c89be;
}


nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(176, 46, 241, 0.388);
}

#header {
    height: 100%;
    width: 100%;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px 20px 5px 20px ;
    color:white;
    text-align: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0
}
ul > li {
    color: aliceblue;
    list-style: none;
}
li:hover {
    font-size: 20px;
    color: blueviolet;
}

.nav-a {
    text-decoration: none;
    color: whitesmoke;
}

.content {
    position: relative;
    justify-content: center;
    text-align: center;
    background-color:rgb(223, 186, 223);
    border-radius: 5px;
    margin: 5px 25px 5px 25px;
    font-family: 'Overpass', sans-serif;
}

.contacto-form {
    height: 120px;
    width: 120px ;
    background-color:rgb(223, 179, 223) (143, 91, 91);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cancion {
    animation:scale-up-bottom 0.4s;
    width: 250px;
    height: 150px;
    display: inline1;
    background-color: rgb(17, 16, 16);
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
}

.animacion-cancion:hover {
    animation:animacion-cancion 0.4s; 
} 

@keyframes animacion-cancion {
    0% {
        transform:scale(.5);
        transform-origin:center bottom
    }
    100% {
        transform:scale(1);
        transform-origin:center bottom
    }
}

.familia {
    width: 400px;
    height: 300px;
    display: block;
    margin:auto;
    border-radius: 6px;
}

.diagrama-content {
    background-color: black;
    margin: 20px;
    position: relative;
}

.redondo {
    background-image:url(Img/icnono-1.avif);
    background-size: cover;
    background-color: rgb(197, 183, 183);
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10 px #4c4b4b;
    text-align: center;
    align-items: center;
}
.reondo-img {
    width: 100%;
    height: auto;
}

.descripcion-redondo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10% 0 0 -25px;
    color: white;
}

.cuadrado {
    background-color: rgba(143, 27, 201, 0.829);
    position: absolute;
    width: 500px;
    height: 110px;
    margin: 20px 75px 50px 120px;
    border-radius: 5px;
}

.descripcion-cuadrado {
    position: absolute;
    top: 50%;
    left: 18%;
    margin: -2.75% 0 0 -25px;
    color: rgb(14, 13, 13);
}
.subtitulo-secundario {
    height: 60px;
    width: 250px;
}

.letra-dos {
    color: white;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}


/* CSS */
.button-74 {
background-color: #fbeee0;
border: 2px solid #422800;
border-radius: 30px;
box-shadow: #422800 4px 4px 0 0;
color: #422800;
cursor: pointer;
display: inline-block;
font-weight: 600;
font-size: 18px;
padding: 0 18px;
line-height: 50px;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-74:hover {
background-color: #fff;
}

.button-74:active {
box-shadow: #422800 2px 2px 0 0;
transform: translate(2px, 2px);
}

@media (min-width: 768px) {
.button-74 {
    min-width: 120px;
    padding: 0 25px;
}
}